{% extends "auctions/layout.html" %}
{% block body %}

<div class="row mx-3">
    {% if user.is_authenticated %}
        {% if isListingInWatchlist %}
        <form action="{% url 'removeWatchlist' id=employeeData.phone %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remove From Watchlist</button> 
        </form>
        {% else %}
        <form action="{% url 'addWatchlist' id=employeeData.phone %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add to Watchlist</button> 
            </form>
        {% endif %}
    {% endif %}
</div>


<div class="title">
<h2>{{employeeData.employeeName}}</h2>
</div>
<img src="{{employeeData.imageURL}}" class="listPage" style="height:50vh;width:50vh"><br>
<p> <h3 class="description">{{listingData.description}}<br>
<h6>{{employeeData.phone}}</h6>
<h6>{{employeeData.section}}</h6>
</p>

<hr></hr>

<h1 style="color:red">Weekly Tasks</h1>
{% for task in employeeTasks %}
<div class="card border-light mb-3 text-center">
    

    <div class="card-body">
                
              <p class="card-text"><h1 style="color:rgb(0, 200, 255)">{{task.section}}<br>{{task.tasks}}<br></h1> 
                <h3>Month: {{task.startMonth}} Day: {{task.startDay}}, Year: {{task.startYear}}, <br>
        {{task.startHour}}: {{task.startMinute}} - {{task.endHour}}: {{task.endMinute}} P.M.</h3><br>
                <p>{{task.tasks}}</p>

            </div>  
            <h4>{{task.extras}}</h4>
            <h6>${{task.extrasPrice}}</h6>
        
{% endfor %}    
           <br>
</div>
    

<hr></hr>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
    
    <form action = "{% url 'addEmployeeComment' phone=employeeData.phone %}" method="POST">
        {% csrf_token %}
        <input type="textarea" name="newComment" placeholder="Add new comment">
        <button type="submit" class="btn btn-warning">Submit</button>     
    </form>
    {% endif %}
</div> 
<div>
    {% for comment in comments %}
    <li class="list-group-item"> {{comment.message}} 
    <br><p>posted by <strong>{{comment.author}}</strong></p>
    <br>{{comment.datetime}}
    </li>
     
    {% endfor %}
</div>
{% endblock %}     